<div class="container">
		<a href='#' class="pull-right">Logout</a>
	<div class="row">
		<h1 class="pull-left">EBC Rutas docentes</h1>
	</div>
</div>
<nav class="navbar navbar-inversei navbar-light" style="background-color: #0080FF;">
  <div class="container-fluid">
    <ul class="nav navbar-nav pull-right">
      <li class="active"><a href="#" style="color:#FFFFFF">Home</a></li>
      <li> {{#link-to 'register'}} Register {{/link-to}} </li>
    </ul>
  </div>
</nav>


<div class="container">
  {{outlet}}
</div>

<footer class="footer navbar-fixed-bottom" style="background-color: #0080FF;height: 50px;border-top: solid 1px black;">
  <div class="container text-center">
    <br><strong class="text-muted" style="color:#FFFFFF">MAKING DEVS</strong><br>
  </div>
</footer>
