<div class="container">
  <div class="row">
    <img class="pull-left" src="http://www.promagazine.mx/app/uploads//PROLE%C3%93N_2016/LOGOTIPO_TM_EDUCACION_EBC.jpg" width="20%"/>
		<h1 class="pull-left"> Rutas docentes</h1>
		{{#if user}}
			<h4 class="pull-right">Hello {{user.name}}</h4>
		{{/if}}
		{{#unless user}}
			<h4 class="pull-right">No user!</h4>
		{{/unless}}
	</div>
</div>
<nav class="navbar navbar-inversei navbar-light" style="background-color: #0080FF;">
  <div class="container-fluid">
    <ul class="nav navbar-nav pull-right">
      <li> {{#link-to 'application'}} Home {{/link-to}} </li>
		  {{#unless user}}
      <li> {{#link-to 'login'}} Login {{/link-to}} </li>
      <li> {{#link-to 'register'}} Register {{/link-to}} </li>
		  {{/unless}}
    </ul>
  </div>
</nav>


<div class="container">
  {{outlet}}
</div>

<footer class="footer navbar-fixed-bottom" style="background-color: #0080FF;height: 50px;border-top: solid 1px black;">
  <div class="container text-center">
    <br><strong class="text-muted" style="color:#FFFFFF">MAKING DEVS</strong><br>
  </div>
</footer>
